<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Portal Akademik 1B</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="icon"
    href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Logo_Unand.svg/1200px-Logo_Unand.svg.png">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="icon"
    href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Logo_Unand.svg/1200px-Logo_Unand.svg.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/popup.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png" />
  <!-- Custom Stylesheet -->
  <script src="https://kit.fontawesome.com/9c1321c239.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/user.jpg);"></a>
        <h6 style="margin-left: 100px; margin-top: -1cm;">Admin</h6>
        <ul class="list-unstyled components mb-5">
          <li>
            <a rel="icon" href="admin_halamanawal.html"><img src="images/icon-home.jpg"
                style="width:30px;height:30px;">Dashboard</a>
          </li>
          <li>
            <a rel="icon" href="admin_dosenpengampu.html"><img src="images/icon-dosen.jpg"
                style="width:30px;height:30px;">Dosen Pengampu</a>
          </li>
          <li>
            <a rel="icon" href="admin_laporanrps.html"><img src="images/icon-laporan.jpg"
                style="width:25px;height:30px;">Laporan RPS</a>
          </li>
          <li>
            <a class="popuplogout" rel="icon" href="#popuplogout"><img src="images/icon_logout.jpg"
                style="width:30px;height:30px;">Logout</a>
          </li>
        </ul>


    </nav>
    <div id="content" class="p-4 p-md-5">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="admin_cplcpmk.html">CPL CPMK</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="admin_listrps.html">List RPS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin_persentasemetode.html">Persentase Metode</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cetak</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- <%- include ('modals/headadmin') %>
    <nav>
        <div class="row no-gutters mt-5">
          <%- include ('modals/navbaradmin', {nama, NIP}) %> -->
      <div class="col-md-10 p-4 pt-4">
        <!-- <h3><i class="fa-solid fa-list me-2"></i>Persentase RPS</h3><hr> -->
        <div class="container">
          <div class="row">
            <div class="col-2">
              <h6>Tahun Akademik</h6>
            </div>
            <div class="col-2">
              <h6>: 2021/2022</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <h6>Semester</h6>
            </div>
            <div class="col-3">
              <h6>: Genap</h6>
            </div>
          </div><br>
        </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Masukkan Nama/Kode Mata Kuliah"
            aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Cari</button>
        </form><br>
        <div class="row">
          <div class="col-2">
            <h6>Mata Kuliah</h6>
          </div>
        </div><br>
        <div id="piechart" style="margin-left: 20%;">
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

          <script type="text/javascript">
            // Load google charts
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
  
            // Draw the chart and set the chart values
            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Project Based', 8],
                ['Case Based Method', 2],
  
              ]);
  
              // Optional; add a title and set the width and height of the chart
              var options = { 'title': 'Persentase RPS yang menggunakan metode Project Based/Case Based Method', 'width': 550, 'height': 400 };
  
              // Display the chart inside the <div> element with id="piechart"
              var chart = new google.visualization.PieChart(document.getElementById('piechart'));
              chart.draw(data, options);
            }
          </script>
        </div>

        

      </div>
      </nav>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
        <div class="btn-print">
          <!-- <p align="center"><input type="button" class="btn-success" onclick="myPrint('sheet0')" value ="Print" style="border:5px ;"></p> -->
          <button align="center"onclick="myPrint('piechart')" style="width: 100px; margin-left: 45%; border-radius: 5px;" class="btn-success">Cetak</button>
          <script>
            function myPrint(piechart){
              var printdata = document.getElementById(piechart)
              newwin = window.open("");
              newwin.document.write(printdata.outerHTML);
              newwin.print();
              newwin.close();
            }
          
          </script>
      </div>
</body>

</html>