<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Logo_Unand.svg/1200px-Logo_Unand.svg.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/beranda.css">
    <link rel="stylesheet" href="css/carimatkul.css">
    <title>Beranda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body style="background-color:#E9EFC0;">
    <div class="logo" style="margin-left: 8%;">
        <img src="https://lp3m.unand.ac.id/webpanel/todakimage/logo.png" alt="">
    </div>
    <div class="wrapper" style="margin-top: 25px;">
        <h1 style="margin-top: -30px;">SELAMAT DATANG DI RPS UNIVERSITAS ANDALAS</h1>
        <h5 style="margin-top: -10px; text-align: center;">Website Akademik Sistem Informasi Universitas Andalas</h5>
    </div>
    <br>
    <br>
    <br>
    <div style="text-align: center;">
        <a href="/admin">
            <button type="button" class="btn btn-success" style="background-color: #00AA13;">Log In Admin</button> 
        </a>
        <a href="/dosen">
            <button type="button" class="btn btn-success" style="background-color: #00AA13;">Log In Dosen</button>
        </a>
    </div><br><br><br>
    <a href="/" class="btn" style=" margin-left: 47%; color: black;">Kembali</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>